{%extends "doctor/doctorBase.html" %}
{% load crispy_forms_tags %}
{% block content %}

<form method="get" class="form-inline search-form" style="float:right;">
                    <div class="md-form my-0 d-flex justify-content-center">

                        {{patient_details.form}}
                        <button class="btn btn" type="submit">Search</button>
                    </div>
                </form>

<table class="table">
  <thead>
    <tr>

      <th scope="col">Patient_name</th>
      <th scope="col">Patient_email</th>
      <th scope="col">Patient_phone_no</th>
       <th scope="col">Blood_Group</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
  {% for data in schedule %}
    <tr>

      <td>{{data.Patient_name}}</td>

      <td>{{data.Patient_email}}</td>
       <td>{{data.Patient_phone_no}}</td>
        <td>{{data.Patient_blood_group}}</td>
      <td><a href="{% url 'deletePatient' data.id %}"><button class="btn btn-danger">Delete</button></a></td>
      <td><a href="{% url 'PatientUpdate' data.id %}"><button class="btn btn-warning">Update</button></a></td>
    </tr>
  {% endfor%}
  </tbody>
</table>


{% endblock %}