{%extends "admin/adminBase.html" %}
{% load crispy_forms_tags %}
{% block content %}
<table class="table">
  <thead>
    <tr>

      <th scope="col">Doctor_name</th>
      <th scope="col">Doctor_Department</th>
      <th scope="col">Doctor_phone_no</th>
      <th scope="col">Doctor_email</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     {% for data in view1%}
      <td>{{data.Doctor_name}}</td>

      <td>{{data.Doctor_Department}}</td>
       <td>{{data.Doctor_phone_no}}</td>
        <td>{{data.Doctor_email}}</td>
      <td><a href="{% url 'deleteDoctor' data.id %}"><button class="btn btn-danger">Delete</button></a></td>
      <td><a href="{% url 'DoctorUpdate' data.id %}"><button class="btn btn-warning">Update</button></a></td>
    </tr>
  {% endfor%}
  </tbody>
</table>
{% endblock %}